{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    {% for category in categories.infoNav %}
        <div class="card col-md-6">
            <div class="card-body">
                <h2>{{ category.name }}</h2>
                <a href="{{ path('show_quizz', {'name': category.name }) }}" class="btn btn-primary">Démarrer le Quizz</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
