{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
<div class="title_connect">
    <h1>Question : {{ category.name }}</h1>
</div>
<div class="container">
{% for question in questions %}
        <div class="card mb-3
        {% for advance in advances %}
        {% if question.id == advance.question.id %}
         text-white bg-success
        {% endif %}
        {% endfor %}
        ">
            <div class="card-body">
                <h2>{{ question.name }}</h2>
                <a href="{{ path('show_question', {'id': question.id }) }}" class="btn btn-primary">Répondre</a>
            </div>
        </div>
{% endfor %}
</div>
{% endblock %}