{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
<h1>Question : {{ category.name }}</h1>
<div class="container">
{% for question in questions %}
    <div class="card">
        <div class="card-body">
            <h2>{{ question.name }}</h2>
            <a href="{{ path('show_question', {'id': question.id }) }}" class="btn btn-primary">Répondre</a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}